<footer class="footer">
  <div class="container footer__general">
    <nav class="footer__navigation">
      <ul class="footer__navigation__menu">
        <li class="footer__navigation__item">
          <a href="" class="footer__navigation__link">Інформація</a>
        </li>
        <li class="footer__navigation__item">
          <a href="" class="footer__navigation__link">Блоґ</a>
        </li>
        <li class="footer__navigation__item">
          <a href="" class="footer__navigation__link">Вакансії</a>
        </li>
        <li class="footer__navigation__item">
          <a href="" class="footer__navigation__link">Розташування</a>
        </li>
      </ul>
    </nav>
    <div class="footer__text">
      <p class="footer__first">&copy; 2024 | All Rights Reserved |</p>
      <p class="footer__second">
        <span>Developed by</span>
        <span class="footer__second-hero js-modal-open">
          <svg class="footer__second-hero-color" width="22" height="22">
            <use href="/src/images/icons/sprite.svg#TS"></use></svg
          >Tsymbal Sergii</span
        >
      </p>
    </div>
  </div>
</footer>
