<footer class="footer">
  <h1>Example page title&&&&</h1>
  <div class="container footer__general">
    <div class="footer__text">
      <p class="footer__first">&copy; 2023 | All Rights Reserved |</p>
      <p class="footer__second">
        <span>Developed by</span>
        <span class="footer__second-hero js-modal-open">
          <svg class="footer__second-hero-color" width="22" height="22">
            <!-- <use href="/src/images/icons/sprite.svg#TS"></use></svg -->
            <use href="/src/imges/icons/sprite.svg#TS"></use></svg
          >Tsymbal Sergii</span
        >
      </p>
    </div>
  </div>
</footer>
