<header class="header">
  <div class="container">
    <div class="header__logo">
      <a href="./index.html" class="header__logo-link link">
        <div class="header__menu-wrap">
          <!-- <svg class="header__logo-svg" width="44" height="44">
            <use href="/src/images/icons/youtube_icon.svg"></use>
          </svg> -->
          <svg class="header__logo-svg" width="44" height="44">
            <use href="/src/images/icons/sprite.svg#bakota-relax"></use>
          </svg>
          <img src="/src/images/icons/Group 4.png" alt="" />

          <svg class="header__logo-svg" width="44" height="44">
            <use href="/src/images/icons/sprite2.svg#moon-filmoteka_icon"></use>
          </svg>

          <span class="header__logo-name">Moon filmoteka</span>
        </div>
      </a>
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./page-2.html" class="nav-link">Page 2</a>
        </li>

        <li class="nav-item">
          <a href="./page-3.html" class="nav-link">Page 3</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
