<header class="header">
  <div class="container">
    <div class="header__logo">
      <a href="./index.html" class="header__logo-link link">
        <div class="header__menu-wrap">
          <img
            src="./images/icons/logo.svg"
            alt="logo"
            width="300"
            height="300"
          />

          <svg class="header__logo-svg" width="300" height="300">
            <use href="./images/icons/sprite.svg#bakota-relax"></use>
          </svg>

          <span class="header__logo-name">Moon filmoteka</span>
        </div>
      </a>
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./page-2.html" class="nav-link">Page 2</a>
        </li>

        <li class="nav-item">
          <a href="./page-3.html" class="nav-link">Page 3</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
