.footer {
  background-color: var(--footer-bg-color);

  &__general {
    padding-top: 20px;
    padding-bottom: 20px;

    @include tablet {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &__navigation {
    &__menu {
      display: flex;
      gap: 20px;
      justify-content: center;
    }

    &__item {
      font-weight: 400;
      font-size: 14px;
      line-height: calc(16 / 14);

      color: var(--black-light-text-color);
    }

    &__link {
      display: inline-block;

      &:hover,
      &:focus {
        transform: scale(1.1);
        color: var(--accent-color);

        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
          0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);

    color: var(--black-light-text-color);

    @include tablet {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__first {
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 0px;
    }
  }

  &__second {
    display: flex;
    gap: 3px;
    align-items: center;

    &-hero {
      display: flex;
      gap: 3px;
      align-items: center;

      text-decoration: underline;
      cursor: pointer;

      &-color {
        fill: var(--accent-color);
      }

      &:hover,
      &:focus {
        transform: scale(1.1);
        color: var(--accent-color-second);

        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
          0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      }
    }

    @include tablet {
      margin-left: 3px;
    }
  }
}
